/* color palette from <https://github.com/vuejs/theme> */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0e0e0e;
}

a {
  text-decoration: none;
}
a:visited {
  color: transparent;
}
